@model List<Buttons.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(document).contextmenu(function () {
                return false;
            });

            $('.game-button').mousedown(function (event) {

                if (event.which == 3) {
                    console.log("event 3.right click");
                    console.log(this.getAttribute("value"));

                    // send this click to an event in the button controller

                    // URL, Data and callback
                    $.post("@Url.Action("OnRightbuttonClick", "Button")", { mine: this.getAttribute("value") }, function (data) {
                        // get some data back from the method
                        console.log(data);
                        // refresh the entire page
                        $("body").html(data);
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div class="container body-content">
        <h1>This is the buttons page!</h1>
        @Html.Label("Do you wanna play with buttons?")



        <p>The number of buttons is @Model.Count</p>
        @using (Html.BeginForm("OnButtonClick", "Button"))
        {
            for (int i = 0; i < Model.Count; i++)
            {
                if (i % 5 == 0)
                {
                    <br />
                }

                <button class="game-button" type="submit" name="mine" value=@i>
                    @if (Model[@i].IsFlagged == true)
                    {
                        <img src="~/Images/flag.png" />
                    }
                    else
                    {
                        if (Model[@i].State == true)
                        {
                            <img src="~/Images/on.png" />
                        }
                        else
                        {
                            <img src="~/Images/off.png" />
                        }
                    }

                </button>
            }
        }
    </div>
</body>
</html>
